* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header {
    text-align: center;
    padding: 50px;
    background-color: #4CAF50;
    color: white;
    width: 100%;
}

.header h1 {
    font-size: 2.5rem;
    animation: fadeIn 3s ease-in-out;
}

.date-time-selection{
    padding: 30px;
}

.header p {
    margin-top: 10px;
    font-size: 1.2rem;
    animation: slideIn 3.5s ease-in-out;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
    width: 100%;
    max-width: 1200px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    animation: zoomIn 1s ease;
}

.card h2 {
    padding: 20px;
    font-size: 1.5rem;
    background-color: #4CAF50;
    color: white;
}

.card p {
    padding: 15px;
    font-size: 1rem;
    color: #555;
}

.card button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #218838;
}

.card:hover {
    transform: translateY(-10px);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    0% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes zoomIn {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}
