*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contact{
    position: relative;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(4.png);
    background-size: cover;
    padding-top: 20px;
} 
.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content p{
    font-size: 21px;
    font-weight: 500;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20PX;
    font-size: 17PX;
    color: aliceblue;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-size: 21PX;
    font-weight: 500;
    color: #00bcd4;
}
.feedback{
    max-width: 40%;
    padding: 30px;
    text-align: center;
   
}